/*!===酒店Demo scss文件===*/
@charset "utf-8";
@import "compass/reset";
/*！====以上是rest样式======*/
@import "compass/css3";
@import "compass/utilities";
@import "compass/utilities/sprites";
@mixin icons {
    background: url(../img/images-rujia/icons.png) no-repeat;
}
@mixin ico-ls-sm {
    background-position: 0 0;
    height: 20px;
    width: 20px;
}
@mixin ico-arrow-down {
    background-position: -20px 0;
    height: 29px;
    width: 32px;
}
@mixin ico-ls-md {
    background-position: -52px 0;
    height: 36px;
    width: 36px;
}
@mixin logo-wepay {
    background-position: -88px 0;
    height: 41px;
    width: 150px;
}
@mixin img-process-4 {
    background-position: 0 -62px;
    height: 328px;
    width: 183px;
}
@mixin img-process-1 {
    background-position: -197px -64px;
    height: 328px;
    width: 183px;
}
@mixin img-process-2 {
    background-position: 0 -406px;
    height: 328px;
    width: 183px;
}
@mixin img-process-3 {
    background-position: -197px -410px;
    height: 328px;
    width: 183px;
}

/*=================公用资源=============*/
.cf {
    zoom: 1;
}
.cf:after {
    clear: both;
    content: " ";
    display: block;
}
.w960 {
    margin: 0 auto;
    width: 960px;
}
ul,
li {
    list-style: none;
}
img {
    border: 0;
}
.no-copy {
     -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.text-copy {
    -webkit-user-select: text;
            user-select: text;
}
::selection {
    background-color: pink;
    color: #fff;
}
::-moz-selection {
    background-color: pink;
    color: #fff;
}
::-webkit-selection {
    background-color: pink;
    color: #fff;
}


/*=============文档自带样式=============*/
html {
    font-family: "微软雅黑";
    font-size: 10px;
    font-weight: bold;
}
body {
    position: relative;
    width: 100%;
    height: auto;
    min-width: 1080px;
    background: #e8e3dc;
    font-size: 16px;
}
.hd {
    height: auto;
    // .w960{position: relative;}
    .logo-wepay {
        position: relative;
        top: 20px;
        left: 135px;
        z-index: 999;
        display: block;
        width: 150px;
        height: 41px;
        // background: transparent url(../img/images-rujia/logo-wepay.png) 0 0 no-repeat;
        @include icons;
        @include logo-wepay;
    }
    .banner {
        position: relative;
        top: -41px;
        left: 0;
        width: 100%;
        max-height: 717px;
        z-index: 1;
    }
}
.bd {
    height: 1075px;
    margin-top: -41px;
    background: #e8e3dc;
    .detail,
    .tips {
        display: block;
        text-align: center;
    }
    .detail {
        margin-bottom: 42px;
        color: #a89880;
        font-size: 21px;
    }
    .qrcode {
        display: block;
        width: 336px;
        height: 334px;
        margin: 0 auto;
    }
    .tips {
        margin-top: 31px;
        color: #f06a42;
        font-size: 25px;
    }
    .process {
        position: relative;
        h2 {
            margin-top: 62px;
            font-size: 33.89px;/* margin-top: 64px!important;margin-bottom: 36px!important; */
            color: #f06a42;
        }
        .ico-arrow-down {
            position: relative;
            top: -29px;
            left: 200px;
            display: block;
            height: 29px;
            width: 32px;
            margin-left: 13px;
            margin-top: 0;
            @include icons;
            @include ico-arrow-down;
        }
        img {
            float: left;
        }
        .step {
            margin-top: -28+37px;
        }
        [class*="step"] {
            display: inline-block;
        }
        .step-1 {
            margin-left: 22px;
            margin-right: 65px;@include icons;@include img-process-1;
        }
        .step-2,
        .step-3 {
            margin-right: 60px;
        }
        .step-2 {
            @include icons;@include img-process-2;
        }
        .step-3 {
            @include icons;@include img-process-3;
        }
        .step-4 {
            @include icons;@include img-process-4;
        }
        .ls-md {
            display: block;
            width: 36px;@include border-radius(18px);
            height: 36px;
            margin: 0 auto;
            color: #e8e3dc;
            line-height: 36px;
            font-size: 25px;
            text-align: center;
            background: #f06a42;
        }
        p {
            *display: inline;
            zoom: 1;
            display: inline-block;
            margin-top: 24px;
            color: #f06a42;
            font-size: 18px;/* font-family:'HiraginoSansGB'; */
            line-height: 24px;
            text-align: center;
        }
        // !可重构
        .show-1 {
            width: 130px;
            margin-left: 50px;
        }
        .show-2 {
            width: 115px;
            margin-left: 120px;
            // position: relative;top: 0;left: 134px;
        }
        .show-3 {
            width: 115px;
            margin-left: 134-8px;
            // position: relative;top: 0;left: 134px;
        }
        .show-4 {
            width: 80px;
            // position: relative;top: 0;left: 134px;
            margin-left: 155-4px;
        }
    }
}
.ft {
    background: #383c5c;
    height: auto;
    .border {
        display: block;
        width: 100%;
        height: 17px;
        background: transparent url(../img/images-rujia/img-border.png) 0 0 repeat;
        border: 0;
        // border-top:1px solid #E8E3DC;
        // border-bottom: 1px solid #383C5C;
        // border-left:0;
        // border-right:0;
    }
    h2 {
        padding-top: 44px;
        color: #8f94be;
        font-size: 33.89px;
    }
    ul {
        width: 960px;
        height: auto;
        margin-top: 0px;
    }
    p {
        margin-top: 2px;
        margin-left: 38px;
        font-size: 15px;/* text-indent:-20px; */
        line-height: 18px;
        font-weight: normal;
        color: #8f94be;
    }
    .ls-sm {
        position: relative;
        top: 21px;
        left: 8px;
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #383c5c;
        font-size: 15px;
        font-weight: normal;
        text-align: center;
        background: #095fd3;
        @include border-radius(50%);
    }
    .fix {
        padding-bottom: 62px;
    }
}

